/* ----------------------------------------------------------------------------
    headers
----------------------------------------------------------------------------- */
h1, h2, h3, h4, h5 {
    /*margin: 25px 0 15px 0;*/
    padding: 0;
    font-family: 'Roboto Slab', 'Open Sans', 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 400 !important;
    text-rendering: optimizeLegibility;
    line-height: 1.4;
}
h1, .h1 { font-size: 1.602em; margin-top: 0; }
h2, .h2 { font-size: 1.424em; }
h3, .h3 { font-size: 1.266em; }
h4, .h4 { font-size: 1.125em; }
h5, .h5 { font-size: 1em; }
@media (min-width: 48em) { /* Medium devices (tablets, 768px and up) */
    h1, .h1 { font-size: 1.8em; }
    h2, .h2 { font-size: 1.55em; }
    h3, .h3 { font-size: 1.32em; }
    h4, .h4 { font-size: 1.125em; }
    h5, .h5 { font-size: 1em; }
}
@media (min-width: 62em) { /* Large devices (desktops, 992px and up) */
    h1, .h1 { font-size: 2.074em; }
    h2, .h2 { font-size: 1.728em; }
    h3, .h3 { font-size: 1.44em; }
    h4, .h4 { font-size: 1.2em; }
    h5, .h5 { font-size: 1.1em; }
}
@media (min-width: 75em) { /* Extra large devices (large desktops, 1200px and up) */
    h1, .h1 { font-size: 2.441em; }
    h2, .h2 { font-size: 1.953em; }
    h3, .h3 { font-size: 1.563em; }
    h4, .h4 { font-size: 1.25em; }
    h5, .h5 { font-size: 1.1em; }
}
/* ----------------------------------------------------------------------------
    Project Styles
----------------------------------------------------------------------------- */
html {
    min-height: 100%;
    position: relative;
}
body {
    font-family: 'Open Sans', 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    color: #444;
    background-color: #56A8E3;
    background-image: linear-gradient( 135deg, #FAD7A1 10%, #E96D71 100%);
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    overflow-y: scroll;
}
h1, h2, h3, h4, h5 {
    font-family: 'Roboto Slab', 'Open Sans', 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;
}
.container {
    max-width: 1200px;
}
.container-fluid.but-fixed {
    max-width: 1230px;
}
.header-img {
    width: 100%;
    max-width: 350px;
}
#game-row .card {
    margin-left: auto;
    margin-right: auto;
    max-width: 270px;
}
#game-row .card-body {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 150px;
}
#game-row #status-area.card-body {
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
}
.pick-img {
    width: 100%;
    max-width: 150px;
}
.choices {
    display: none !important;
    flex-wrap: wrap;
}
.choices.show {
    display: flex !important;
}
.choices button {
    margin: 5px 3px;
    min-width: 85px;
}
#game-row, #chat-row {
    display: none;
}
#game-row.show, #chat-row.show {
    display: flex;
}
.chat-box .chat-display {
    padding-bottom: 0;
    height: 150px;
    overflow-y: auto;
}
.chat-box .chat-display div {
    margin-bottom: 6px;
    text-transform:capitalize;
}
.chat-box .chat-display .chat-user {
    color: #E99D52;
}
.chat-box .chat-display div:first-letter {
    text-transform:capitalize;
}
.chat-box .card-footer {
    padding-bottom: 1.3rem;
    border-top: 0;
    background-color: transparent;
}

/* ----------------------------------------------------------------------------
    Page Media Queries
----------------------------------------------------------------------------- */
@media (min-width: 576px) {

}
@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}
